<div class="cover-user-show">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <% if user_signed_in? && @user == current_user %>
        <h1 class="font-weight-normal">マイページ</h1>
      <% else %>
        <h1 class="font-weight-normal"><%= @user.name %>さんのページ</h1>
      <% end %>
    </div>

    <% if user_signed_in? && @user == current_user %>
      <p class="d-flex align-self-end">
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success" %>
      </p>
    <% end %>

    <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <p class="d-flex align-self-end">
          <%= link_to 'フォロー外す', user_relationships_path(@user.id),  data: { turbo_method: :delete }, class: "btn btn-danger" %>
        </p>
        <% else %>
        <p class="d-flex align-self-end">
          <%= link_to 'フォローする', user_relationships_path(@user.id),  data: { turbo_method: :post }, class:"btn btn-success" %>
        </p>
      <% end %>
      <% if @is_room == true %>
        <p class="d-flex align-self-end">
          <%= link_to 'メッセージへ', room_path(@room_id), class: "btn btn-primary mt-2" %>
        </p>
      <% else %>
        <div class="d-flex align-self-end mt-2">
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit 'メッセージを送る', class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="d-flex w-100">
      <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.svg", class: "mb-3 profile-img" %>
      <div class="ml-3 mb-3 profile-box w-100">
        <h4 class="mb-2"><%= @user.profile %></h4>
        <% if @user.personal_color.present? %>
          <p class="mb-0"><strong>パーソナルカラー：</strong><%= @user.personal_color %></p>
        <% else %>
          <p class="mb-0"><strong>パーソナルカラー：</strong>未設定</p>
        <% end %>
      </div>
    </div>

    <div class="d-flex mb-3">
      <%= link_to follows_user_path(@user) do %>
        <span class="caption me-3">フォロー<%= @following_users.count %></span>
      <% end %>
      <%= link_to followers_user_path(@user) do %>
        <span class="caption">フォロワー<%= @follower_users.count %></span>
      <% end %>
    </div>

    <div class="row mt-5 index-left w-100">
      <% @posts.each do |post| %>
        <div class="one-post card col-sm-3 mb-3">
          <%= link_to post_path(post) do %>
            <%= attachment_image_tag post, :image, format: 'jpeg', size: '200x133' %>
            <p class="caption mb-0"><%= post.location %></p>
            <p class="caption"><%= "#{post.comments.count} コメント" %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>