<div class="dm-background">
  <div class="title">
    <h2><%= "#{@another_entry.user.name}さんとのメッセージ" %></h2>
  </div>

  <% @messages.each do |m| %>
    <div class="talk-row <%= m.user_id == current_user.id ? 'my-talk' : 'other-talk' %>">
      <% if m.user_id != current_user.id %>
        <!-- アイコン画像表示を削除 -->
      <% end %>
      <div class="talk-balloon">
        <p><%= m.body %></p>
      </div>
    </div>
  <% end %>

  <div class="chat-form-box">
    <%= form_for @message do |f| %>
      <div class="chat-form-group">
        <%= f.text_field :body %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信する" %>
      </div>
    <% end %>
  </div>
</div>