<div class="cover-index">
  <div class="container d-flex flex-column align-items-center"> 
    <div class="row mt-5">
      <h1 class="font-weight-normal">コスメ投稿一覧</h1>
    </div>


    <%= form_tag({controller:"posts",action:"index"}, method: :get, class: "d-flex flex-wrap gap-3 mb-3") do %>
      <% Tag.all.each do |t| %>
        <div class="form-check me-2">
          <%= label_tag "tag_ids_#{t.name}", class: "form-check-label" do %>
            <%= check_box_tag "tag_ids[#{t.name}]", "1", false, id: "tag_ids_#{t.name}", class: "form-check-input me-1" %>
            <%= t.name %>
          <% end %>
        </div>
      <% end %>

        <div class="form-group me-2">
          <%= select_tag :personal_color, options_for_select([["すべて", ""], ["スプリング", "spring"], ["サマー", "summer"], ["オータム", "autumn"], ["ウィンター", "winter"]], params[:personal_color]), class: "form-select" %>
        </div>
        
      <%= submit_tag '検索', class: "btn btn-primary ms-2" %>
    <% end %>

    <% if @posts.any? %>
      <%= render 'index', posts: @posts %>
    <% else %>
      <div class="text-center mt-5">
        <p>一致する投稿はありません。</p>
      </div>
    <% end %>



  </div>
</div>